@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApplicationUnobtrusive.Models.SimpleModel

<h1>
    @Model.DateTimeValue
</h1>